body{
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    background-color: greenyellow;
    font-size: 20px;
    box-sizing: border-box;
    background-image: url();
}
.data{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 50%;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 0%;
    margin-bottom: 20%;

}